*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: inherit
    cursor: pointer

.container
    min-height: 100vh
    max-width: 100vw
    overflow-x: hidden
    dispay: flex
    margin: 0
    height: inherit
    padding: 0
    background-color: red

@keyframes content-animate-in
    0%
        transform: translateY(90%)
        opacity: 0%
    50%
        opacity: 25%
    100%
        transform: translateY(0)
        opacity: 100%

@keyframes content-no-scroll
    0% 
        overflow-Y: hidden
    99% 
        overflow-Y: hidden
    100%
        overflow-Y: visible


main
    height: inherit
    padding: 0
    margin: 0
    min-height: 100vh
    display: flex
    flex: 5
    flex-direction: column
    justify-content: space-between
    align-items: center
    font-family: $font
    background-color: $white
    .large-screen-wrapper
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        align-self: flex-start
        width: 100%
        flex: 5
        @media all and (min-width: 1300px)
            padding: 0 $spacer-6
    .content-wrapper
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        padding: $spacer-2
        flex: 5
        @media all and (min-width: 600px)
            padding: $spacer-3
        @media all and (min-width: $max-content-width)
            padding: $spacer-4
        flex: 10
        section
            margin: $spacer-2 $spacer-1
            width: 100%
            box-sizing: border-box
            height: 100%
            min-height:80vh
            display: flex
            flex-direction: column
            padding: $spacer-3
            align-self: center
            max-width: $max-content-width
            border-radius: 4px
            animation: content-animate-in 0.35s ease-out
            @include text-body
            @media all and (min-width: 500px)
                margin: $spacer-3
                padding: $spacer-4 $spacer-3
            @media all and (min-width: 825px)
                margin: $spacer-4
                width: 90vw
            @media all and (min-width: 900px)
                padding: $spacer-3 $spacer-4
            @media all and (min-width: 1220px)
                margin: $spacer-4
            .section-title, h2, .page-title
                margin-bottom: $spacer-1
                padding-right: $spacer-3
                align-self: flex-start
            .page-title
                width: 100%
                border-bottom: 1.3px solid $darkGray1
            .main-title
                @include h2
            h2
                @include h2
            h3 
                @include h3
            h4
                @include h4
            p
                @include p
                .link
                    @include link
            span, label, li
                @include caption
           
        .full-section
            min-height: 50vh

#loader
    background-color: red
    transition: $default-transition
        



footer
    color: white
    background-color:red
    width: 100vw
    height: 50px
    display: flex
    align-items: center
    padding-left: $spacer-1
    @media all and (min-width: 550px)
        span
            padding-left: $spacer-3
    


.social-icon
    border: $border-constant solid $text-dark-blue
    padding: 2px
    width: 35px
    height: 35px
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    border-radius: $border-radius
    transition: $default-fast-transition
    svg
        fill: $accent-blue
    &:hover, &:focus, &:active
        border: 2px solid $text-dark-blue
        transition: border .95ms ease-in-out
    &:hover svg, &:focus svg, &:active svg
        fill: $accent-blue
        transition: $default-fast-transition

p
    margin-bottom: $spacer-3
    @media all and (min-width: 1100px)
        margin-bottom: $spacer-4


.hover-link
    color: $accent-blue
    transition: $default-fast-transition
    &:hover, &:focus
        color: $accent-red
        transition: $default-fast-transition