*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: inherit
    cursor: pointer

.container
    min-height: 100vh
    max-width: 100vw
    overflow-x: hidden
    dispay: flex
    height: 100%
    margin: 0
    padding: 0
    background-color: $colors-dark-background

@keyframes content-animate-in
    0%
        transform: translateY(90%)
        opacity: 0%
    50%
        opacity: 25%
    100%
        transform: translateY(0)
        opacity: 100%

@keyframes content-no-scroll
    0% 
        overflow-Y: hidden
    99% 
        overflow-Y: hidden
    100%
        overflow-Y: visible


main
    height: 100%
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    align-items: center
    font-family: $font
    animation: content-no-scroll 0.35s ease-out
    .content-wrapper
        width: 100%
        height: inherit
        display: flex
        flex-direction: column
        justify-content: center
        padding: $spacer-3
        section
            min-height: 80vh
            margin: $spacer-4 $spacer-2
            width: 100%
            box-sizing: border-box
            flex: 1
            display: flex
            flex-direction: column
            align-content: center
            padding: $spacer-3
            align-self: center
            max-width: $max-content-width
            background-color: $colors-accent-2-dark-muted
            border-radius: 2px
            h2, h3, h4, p, span, image, ul, li, div, article
                animation: content-animate-in 0.35s ease-out
            @include text-body
            @media all and (min-width: 425px)
                margin: $spacer-2 $spacer-3
            @media all and (min-width: 825px)
                margin: $spacer-3 $spacer-4
                width: 90vw
            @media all and (min-width: 900px)
                padding: $spacer-3 $spacer-4
            .section-title, h2
                margin-bottom: $spacer-1
                @include text-title
            .main-title
                font-size: $text-6
            h2
                padding-bottom: $spacer-1
                margin-left: $spacer-1
                @media all and (min-width: 675px)
                    margin-left: $spacer-2
                @media all and (min-width: 1300px)
                    margin-left: $spacer-4


        




h1, h3
    letter-spacing: 2px

footer
    @include row-between
    color: white
    background-color: black
    border: 1px solid black
    width: inherit
    padding: $spacer-2
    align-items: flex-end
    p
        font-size: $text-2
        font-family: $title-font
        letter-spacing: .15rem
    a
        display: flex
        justify-content: flex-end
        align-items: flex-end
        font-size: $text-3
        &:hover >*
            color: $color-accent


.social-icon
    border: 2px solid $colors-mixed-accent
    border-radius: 50%
    padding: 2px
    width: 35px
    height: 35px
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    transition: $default-transition
    &:hover, &:focus, &:active
        border: 2px solid $colors-accent-2
        transition: $default-transition
    &:hover svg, &:focus svg, &:active svg
        fill: $colors-accent-2
        transition: $default-transition
    