*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: inherit
    cursor: pointer

.container
    min-height: 100vh
    dispay: flex
    height: 100vh
    margin: 0
    padding: 0
    background-color: $colors-dark-background



main
    height: 100%
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    font-family: $font
    section
        margin: $spacer-4
        padding: $spacer-2
        background-color: $colors-accent-2-dark-muted
        color: $colors-off-white-text
        .section-title
            margin-bottom: $spacer-1
            font-size: $text-5
            letter-spacing: $letter-spacing-5
            font-weight: 300
        .main-title
            font-size: $text-6
        h3, h2
            font-size: $text-4
            font-weight: 400
            color: $colors-accent-2
            



    




h1, h3
    font-family: $title-font
    letter-spacing: 2px

footer
    @include row-between
    color: white
    background-color: black
    border: 1px solid black
    width: inherit
    padding: $spacer-2
    align-items: flex-end
    p
        font-size: $text-2
        font-family: $title-font
        letter-spacing: .15rem
    a
        display: flex
        justify-content: flex-end
        align-items: flex-end
        font-size: $text-3
        &:hover >*
            color: $color-accent


