
@keyframes button-underline-color
    0%
        background-color: $colors-white
    100%
        background-color: $colors-accent-2

@keyframes button-underline-color
    0%
        background-color: $colors-accent-2
    100%
        background-color: $colors-white

    


.base-button-wrapper
    padding: $spacer-1
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    @media all and (min-width: 600px)
        padding: $spacer-1 $spacer-2
    @media all and (min-width: 900px)
        padding: $spacer-1 $spacer-2 $spacer-1 $spacer-4
    .base-button-content:after
        content: ""
        top: 65%
        height: 2px
        width: 0%
        left: 0
        animation: button-underline-color-out 0.3s ease-in
        transition: 0.3s ease-in all .01s
    &:hover .base-button-content:after
        background-color: $accent-3
        content: ""
        width: 100%
        position: absolute
        left: 300
        top: -30
        transition: $default-transition
    .base-button-content
        color: $accent-3
        cursor: pointer
        line-height: 80px
        position: relative
        display: inline-block
        text-align: center
        align-self: center
        font-size: $text-0-5
        @media all and (min-width: 500px)
            font-size: $text-1
        @media all and (min-width: 900px)
            font-size: $text-2
        text-decoration: none 
        &:after
            content: ""
            position: absolute
    #active:after
        background-color: $accent-3
        content: ""
        width: 100%
        position: absolute
        left: 300
        top: -30
        transition: $default-transition