.contact-content-wrapper
    @media all and (min-width: 900px)
        flex-direction: row
        justify-content: space-between
        display: flex
        .about-links-wrapper
            margin-top: $spacer-2
            min-width: 35px
            @media all and (min-width: 675px)
                @include link-col  
                margin-left: $spacer-4

    form
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        margin-bottom: $spacer-4
        @media all and (min-width: 675px)
            padding-top: $spacer-4
        p
            color: $text-dark-blue
            @include p-text
        .loading
            background-color: $accent-4
            cursor: not-allowed
        .error-wrapper
            height: 25px
            @media all and (min-width: 600px)
                height: 40px
            display: flex
            justify-content: center
            align-items: center
            padding: $spacer-1 0
            span
                font-size: $text-1
                line-height: calc($text-1 * $line-height-constant)
                color: $accent-red-alt
                font-weight: 500
                @media all and (min-width: 700px)
                    margin-left: 85px
        fieldset
            outline: none
            border: none
            display: flex
            flex-direction: column
            height: 100%
            padding-top: $spacer-2
            @media all and (min-width: 600px)
                padding-top: $spacer-3
            @media all and (min-width: 425px)
                justify-content: space-between
                flex-direction: row
            label
                width: 65px
                color: $text-dark-blue
                margin-bottom: $spacer-1
                @media all and (min-width: 425px)
                    margin-bottom: 0
                @media all and (min-width: 700px)
                    width: 85px
            input, textarea
                flex: 3
                width: 100%
                height: 100%
                font-size: $text-1
                line-height: calc($text-1 * $line-height-constant)
                padding: $spacer-1
                @media all and (min-width: 600px)
                    padding: $spacer-2
                outline: none
                font-family: $font
                border-radius: $border-radius
                border: $border-constant solid $text-dark-blue
                letter-spacing: 0.3px
                &:hover, &:focus, &:active
                    border: $border-constant solid $accent-blue
            textarea
                min-height: 150px
                height: 200px
                font-family: $font
        button
            margin-left: 0
            cursor: pointer
            @media all and (min-width: 700px)
                margin-left: 85px
            background-color: $accent-blue !important
            border: 0
            padding: $spacer-2
            outline: 0
            border: $border-constant solid inherit
            color: $colors-white
            @include p-text
            border-radius: 4px
            letter-spacing: 1.5px
            transition: $default-transition
            &:focus, &:active, &:hover
                background-color: $accent-blue
                transition: $default-transition
        

        .complete-wrapper
            width: 100%
            justify-content: center
            align-items: center
            text-align: center
            font-size: $text-4
            line-height: calc($text-4 * $line-height-constant)
            flex-direction: column  
            display: flex
            margin-top: $spacer-4
        .base-button-wrapper
            flex: 2

                