.contact-content-wrapper
    @media all and (min-width: 900px)
        flex-direction: row
        justify-content: space-between
        display: flex
        .about-links-wrapper
            margin-top: $spacer-2

    form
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        margin-bottom: $spacer-4
        .error-wrapper
            height: 25px
            @media all and (min-width: 600px)
                height: 40px
            display: flex
            justify-content: center
            align-items: center
            padding: $spacer-1 0
            span
                font-size: $text-1
                line-height: calc($text-1 * $line-height-constant)
                letter-spacing: 1px
                color: $colors-accent-1
        fieldset
            outline: none
            border: none
            display: flex
            justify-content: space-between
            padding-top: $spacer-2
            align-items: center
            @media all and (min-width: 600px)
                padding-top: $spacer-3
            label
                width: 65px
                color: $colors-off-white-text
            input, textarea
                flex: 3
                width: 100%
                font-size: $text-1
                line-height: calc($text-1 * $line-height-constant)
                padding: $spacer-1
                outline: 0
                border: 0
            input:focus, input:active, textarea:focus, textarea:active
                outline: 2px solid $colors-accent-1
            textarea
                height: 200px
                font-family: $font
        button
            margin-left: 65px
            background-color: $colors-accent-1
            border: 0
            padding: $spacer-2
            outline: 0
            border: 2px solid $colors-accent-1
            border-radius: 4px
            transition: $default-transition
            &:focus, &:active
                background-color: $colors-accent-2-dark
                color: $colors-accent-1
                transition: $default-transition
        .complete-wrapper
            width: 100%
            justify-content: center
            align-items: center
            text-align: center
            font-size: $text-4
            line-height: calc($text-4 * $line-height-constant)
            flex-direction: column  
            display: flex
            margin-top: $spacer-4
        .base-button-wrapper
            flex: 2

                