@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@200;300;400&display=swap')


$title-font: 'Taviraj', serif
$color-accent: #00B0FF
$color-accent-dark: #002FFF
$color-animation-dark: #121212
$colors-animation-orange: #ef6c00
$colors-dark-background: #121212
$colors-accent-1: #00BFA5
$colors-accent-1-dark: #005538
$colors-accent-1-light: #a9e3d8
$colors-accent-2: #009aaf
$colors-accent-2-dark: hsl(189, 50%, 9%)
$colors-accent-2-dark-muted: hsl(189, 50%, 9%, 30%)
$colors-accent-2-light: #d4eef2
$colors-white: #fff
$colors-off-white-text: hsl(46, 40%, 97%)

$text-gray: #616161


$spacer-word: 0.5rem
$spacer-letter: 0.08rem
$spacer-1: 0.25rem
$spacer-2: 0.625rem
$spacer-3: 1.25rem
$spacer-4: 2rem
$spacer-5: 2.75rem
$spacer-6: 4rem

$font: 'Roboto', sans-serif

$text-1: 0.875rem
$text-2: 1rem
$text-3: 1.25rem
$text-4: 1.5rem
$text-5: 2.125rem
$text-6: 3rem

$letter-spacing-1: 0.25px
$letter-spacing-2: 0.5px

$letter-spacing-5: 1.25px

$button-width-sm: 92px
$button-width: 136px
$button-width-lg: 136px

$border-width: 2px
$border-radius: 4px

$max-content-width: 1600px

