/* Spacing/Flexbox Mixins */

@mixin row-between 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

@mixin row
    display: flex
    align-items: center
    flex-wrap: wrap

@mixin column-center
    display: flex
    flex-direcion: column
    justify-content: center
    align-items: center

@mixin viewport-padding
    padding: $spacer-2
    @media all and (min-width: 500px)
        padding: $spacer-3
    @media all and (min-width: 800px)
        padding: $spacer-5



/* Font Mixins */
@mixin p-text
    font-size: $text-2
    line-height: 1.5
    letter-spacing: $letter-spacing-1


/* UI Element Mixins */

@mixin border 
    border-radius: $border-radius
    border: $border-width solid $color-accent-dark

@mixin button-size
    padding: $spacer-2 $spacer-1
    width: $button-width-sm
    height: 25px
    @media all and (min-width: 600px)
        padding: $spacer-2
        width: $button-width
        font-size: $text-2
        height: 40px
    @media all and (min-width: 800px)
        width: $button-width-lg



@mixin button
    @include button-size
    color: $color-accent-dark
    font-size: $text-1
    letter-spacing: $letter-spacing-2
    margin-top: $spacer-2
    position: absolute
    text-decoration: none
    &::after
        width: 90%
        transition: 0.3s ease all
    &::first-child
        position: relative
        text-align: center
        &::after
            content: ""
            position: absolute
            top: 65%
            height: 2px
            left: 5%
            background-color: red
            transition: 0.5s ease all .3s



    