.projects-wrapper
    section
        min-height: 0
        height: 100%
    ul
        list-style: none
    .landscape-top-wrapper
        display: flex
        justify-content: space-between
    .landscape-bottom-wrapper
        display: flex
        p
            flex: 2
    .project-link
        min-width: 120px
    .lg-horizontal
        display: flex
        flex-direction: column
