.container
    min-height: 100vh
    dispay: flex
    height: 100vh
    margin: 0
    padding: 0
main
    height: 100%
    padding: 0
    margin: 0
    display: flex
    flex-direction: flex-col 
    justify-content: space-between


header
    height: 100%
    width: 100vw
    background-color: red
    margin: 0











footer
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
