*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: inherit
    cursor: pointer

.container
    min-height: 100vh
    dispay: flex
    height: 100vh
    margin: 0
    padding: 0



main
    height: 100%
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    justify-content: space-between
    font-family: $font
    section
        .section-title
            margin-bottom: $spacer-1
            font-size: $text-5
            letter-spacing: $letter-spacing-5
            font-weight: 300
        .main-title
            font-size: $text-6
        h3
            font-size: $text-4
            font-weight: 400
            


header
    min-height: 100vh
    width: 100vw
    overflow: hidden
    margin: 0
    .header-title-wrapper
        @include row-between
        min-height: 10vh
        padding: 0 $spacer-3
        span:first-of-type
            padding-right: $spacer-2
       






.base-button-wrapper
    @include button

h1, h2, h3
    font-family: $title-font
    letter-spacing: 2px

footer
    @include row-between
    color: white
    background-color: black
    border: 1px solid black
    width: inherit
    padding: $spacer-2
    align-items: flex-end
    p
        font-size: $text-2
        font-family: $title-font
        letter-spacing: .15rem
    a
        display: flex
        justify-content: flex-end
        align-items: flex-end
        font-size: $text-3
        &:hover >*
            color: $color-accent


