@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Roboto&display=swap')

$title-font: 'Playfair Display SC', serif
$color-accent: red




$spacer-1: 0.25rem
$spacer-2: 0.625rem
$spacer-3: 1.25rem
$spacer-4: 2rem
$spacer-5: 2.75rem

$font: 'Roboto', sans-serif

$text-1: 0.625rem
$text-2: 0.875rem
$text-3: 1.25rem

$button-width-sm: 92px
$button-width: 108px
$button-width-lg: 126px

$border-width: 2px
$border-radius: 4px

